{% extends '::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/surfnetgssp/css/hiddensubmit.css') }}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/surfnetgssp/js/submitonload.js') }}"></script>
{% endblock %}

{% block page_title %}{{ 'gssp.sso_return.title'|trans }}{% endblock %}

{% block body %}
    {{ 'gssp.sso_return.one_moment_please'|trans }}
    </br>
    <noscript>
        {{ 'gssp.sso_return.js_disabled'|trans }}
    </noscript>
    <form method="post" action="{{ acu }}">
        <input type="hidden" name="SAMLResponse" value="{{ response }}" />
        {% if relayState|length > 0 %}
            <input type="hidden" name="RelayState" value="{{ relayState|escape }}" />
        {% endif %}
        <input type="submit" class="hidden" />
        <noscript>
            <input type="submit" value="{{ 'gssp.sso_return.submit_button'|trans }}"/>
        </noscript>
    </form>
{% endblock %}
